<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-cliente">
  <template>
    <style>
    :host {
      display: block;
    }
    </style>

    <iron-ajax id="pedirUltimoId"
               url="https://apitechu-apitechupfm.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/ultimoId"
               method="GET"
               handle-as="json"
               on-response="obtenerUltimoID"
               on-error="mostrarErrorUltimoID">
    </iron-ajax>
    <iron-ajax id="altaUsuario"
               url="https://apitechu-apitechupfm.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/altaUsuario"
               method="POST"
               handle-as="json"
               on-response="usuarioDadoAlta"
               on-error="mostrarErrorAltaUsuario">
    </iron-ajax>
    <iron-ajax id="obtenerCuenta"
               url="https://apitechu-apitechupfm.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/dameUnaCuentaDisponible"
               method="GET"
               handle-as="json"
               on-response="cuentaObtenida"
               on-error="mostrarErrorObtenerCuenta">
    </iron-ajax>
    <iron-ajax id="altaCuenta"
               url="https://apitechu-apitechupfm.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/altaCuenta"
               method="POST"
               handle-as="json"
               on-response="cuentaDadaDeAlta"
               on-error="mostrarErrorOAltaCuenta">
    </iron-ajax>


    <!-- <paper-dialog id="animated" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop modal> -->
    <paper-dialog id="animated" modal>
      <h2>Mensaje</h2>
      <p>{{textodialog}}</p>
          <div class="buttons">
            <paper-button dialog-confirm autofocus on-click="cerraranimated">Volver</paper-button>
          </div>
    </paper-dialog>

    <paper-dialog id="popupfin" modal>
      <h2>Mensaje</h2>
      <p>Enhorabuena ya eres uno de los nuestros</p>
          <div class="buttons">
            <paper-button dialog-confirm autofocus on-click="cerrarfin">Volver</paper-button>
          </div>
    </paper-dialog>

    <paper-dialog id="popuperrorintentalo" modal>
      <h2>Mensaje</h2>
      <p>Se ha producido un error al darte de alta, por favor intentalo de nuevo, sino llama al 66666666</p>
          <div class="buttons">
            <paper-button dialog-confirm autofocus on-click="cerrarpopuerror">Volver</paper-button>
          </div>
    </paper-dialog>


    <paper-dialog id="popuperrorfin" modal>
      <h2>Mensaje</h2>
      <p>Se ha producido un error al crear una cuenta para ti, como eres ya cliente pasa por tu oficina y ellos podrán finalizar tu alta, o bien llama 66666666</p>
          <div class="buttons">
            <paper-button dialog-confirm autofocus on-click="cerrarfin">Volver</paper-button>
          </div>
    </paper-dialog>


    <paper-dialog id="popupespera" modal>
      <h2>Mensaje</h2>
      <p>Te estamos dando de alta</p>
      <!-- <paper-progress indeterminate class="slow"></paper-progress> -->
      <paper-spinner active></paper-spinner>
    </paper-dialog>


  <paper-dialog id="formulario" modal>

      <paper-dialog-scrollable>
      <iron-form id="form1">
        <h1>Date de alta ahora mismo, y comienza a disfrutar de todas nuestras ventajas</h1>
        <form action="/foo" method="get">

          <paper-input type="text" name="Nombre" required label="Nombre" value={{nombre::input}} auto-validate error-message="necesitamos tu nombre"></paper-input>
          <paper-input type="text" name="Apellido" required label="Apellido" value={{apellido::input}} auto-validate error-message="necesitamos tu apellido"></paper-input>
          <paper-input type="text" name="Ciudad" required label="Ciudad" value={{ciudad::input}} auto-validate error-message="necesitamos tu ciudad"></paper-input>

          <paper-input type="text" char-counter maxlength="9"  allowed-pattern="[0-9]" name="Telefono" auto-validate required label="Telefono" value={{telefono::input}} error-message="necesitamos tu teléfono"></paper-input>
          <paper-input type="email" name="Email" required label="Email" value={{email::input}} auto-validate error-message="necesitamos tu email"></paper-input>
          <paper-input type="password" name="Password" required label="Password" value={{password::input}} auto-validate error-message="necesitamos una password"> </paper-input>

          <label id="label1">Primera aportación:</label>
          <paper-radio-group  selected={{imposicion}}>
            <paper-radio-button name="100" >100 €</paper-radio-button>
            <paper-radio-button name="200" >200 €</paper-radio-button>
            <paper-radio-button name="500" >500 €</paper-radio-button>
          </paper-radio-group>

        </paper-dialog-scrollable>
          <br><br>

          <paper-button raised on-click="darAlta" class="button special">Dame de alta</paper-button>
          <paper-button raised on-click="salir" class="button alt">Salir</paper-button>


        </form>

        <div class="output"></div>
      </iron-form>

</paper-dialog>


  </template>

  <script>
    /**
     * `alta-cliente`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class AltaCliente extends Polymer.Element {
      static get is() { return 'alta-cliente'; }
      static get properties() {
        return {
          nombre:{
            type: String
          },
          apellido:{
            type: String
          },
          email:{
            type: String
          },
          ciudad:{
            type: String
          },
          telefono:{
            type: String
          },
          password:{
            type: String
          },
          imposicion:{
            type: String,
            value:100

          },
          textodialog:{
            type: String,
          },
          cuenta:{
            type: String
          },
          idCliente:{
            type: Number
          }

        };
      }

      mostrarformulario()
      {
        this.$.formulario.open()
      }

      cerraranimated(e)
      {
        this.$.animated.close()
      }

      cerrarpopuerror(e)
      {
        this.$.popuperrorintentalo.close()
      }

      cerrarfin(e)
      {
        this.nombre=undefined
        this.apellido=undefined
        this.email=undefined
        this.password=undefined
        this.ciudad=undefined
        this.telefono=undefined
        this.imposicion = 100
        this.$.formulario.close()
        this.dispatchEvent(new CustomEvent("dadodealta",{"detail":{"idUsuario":this.idCliente }}))
      }

      salir(e)
      {
        this.nombre=undefined
        this.apellido=undefined
        this.email=undefined
        this.password=undefined
        this.ciudad=undefined
        this.telefono=undefined
        this.imposicion = 100
        this.$.formulario.close()
        this.dispatchEvent(new CustomEvent("salir",{"detail":{"idUsuario":0 }}))
      }

      darAlta(e)
          {
              //this.ocultaPopup=false
              this.ocultaPopup=true
              e.preventDefault()
              //alert("El valor de nombre " + this.nombre + " apellido: " + this.apellido + " email: " + this.email + " ciudad: " + this.ciudad + " telefono: " + this.telefono + " password: " + this.password + " imposición:" + this.imposicion )

              if ((this.nombre==undefined) || (this.apellido==undefined) || (this.email==undefined) || (this.ciudad==undefined) || (this.telefono==undefined) || (this.password==undefined) || (this.imposicion==undefined))
              {

                 //Falta rellenar algún campo
                 this.textodialog="Por favor rellena todos los campos para que te podamos dar de alta correctamente"
                 this.$.animated.open()

              }else
              {
                console.log("1. El usuario ha pulsado el boton")
                this.$.popupespera.open()
                this.$.pedirUltimoId.generateRequest()

              }

              //debugger



          }
          obtenerUltimoID(resultado)
          {

            console.log("4. llegaron los resultados");
            console.log(resultado)

            this.idCliente = resultado.detail.response.idUsuarioNuevo

            console.log(this.idCliente)

            var psw = this.password

            console.log("El password aquie  " + psw );

            this.$.altaUsuario.headers.id = this.idCliente,
            this.$.altaUsuario.headers.nombre = this.nombre,
            this.$.altaUsuario.headers.apellido = this.apellido,
            this.$.altaUsuario.headers.email = this.email,
            this.$.altaUsuario.headers.password = this.password,
            this.$.altaUsuario.headers.ciudad = this.ciudad,
            this.$.altaUsuario.headers.telefono = this.telefono

            this.$.altaUsuario.generateRequest()

          }

          usuarioDadoAlta(resultado)
          {
            console.log("Usuario dado de alta correctamente")

            //Ahora necesito la cuenta del cliente
            this.$.obtenerCuenta.generateRequest()

          }

          cuentaObtenida(resultado)
          {
              this.cuenta = resultado.detail.response.nuevaCuenta
              //Con la cuenta ya puedo dar de alta la cuenta

              var f = new Date()
              var fecha = f.getFullYear() + "/" + (f.getMonth() +1) + "/" + f.getDate()

              this.$.altaCuenta.headers.iban = this.cuenta
              this.$.altaCuenta.headers.idcliente = this.idCliente
              this.$.altaCuenta.headers.importe = this.imposicion
              this.$.altaCuenta.headers.moneda = "EUR"
              this.$.altaCuenta.headers.fecha = fecha
              this.$.altaCuenta.headers.concepto = "Alta cuenta"

              this.$.altaCuenta.generateRequest()

          }

          cuentaDadaDeAlta(resultado)
          {
              //alert("He acabado de dar de alta todo")
              this.$.popupespera.close()
              this.$.popupfin.open()

          }

          mostrarErrorUltimoID(e)
          {
            this.$.popupespera.close()
            this.$.popuperrorintentalo.open()
          }
          mostrarErrorAltaUsuario(e)
          {
            this.$.popupespera.close()
            this.$.popuperrorintentalo.open()
          }
          mostrarErrorObtenerCuenta(e)
          {
            this.$.popupespera.close()
            this.$.popuperrorfin.open()
          }
          mostrarErrorOAltaCuenta(e)
          {
            this.$.popupespera.close()
            this.$.popuperrorfin.open()
          }



    }

    window.customElements.define(AltaCliente.is, AltaCliente);
  </script>
</dom-module>
