<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="pagina-inicio">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
  
    <div style="background-color:#FFFF00;">
            <div>
                <div>
                    <img src="..\img_iconos\open.png" alt="Area cliente" style="width:42px;height:42px;border:0;">
                </div>
                <div>
                    <h1>Bienvenido a PetroBank</h1>
                    <p>Tu banco de confianza</p>
                </div>
            </div>

        </div>
        </br>
        </br>
        </br>
        </br>
        </br>
        <div>
          <div align="center">
            <div>

                <img on-click="altacliente" src="..\img_iconos\edit-1.png" alt="Quiero ser cliente" style="width:80px;height:80px;border:0;">

              <h3>Quiero ser cliente</h3>
              <p>Entra, date de alta y empeza a disfrutar de nuestras ventajas</p>
            </div>



            <div>

                <img on-click="pinusuario" src="..\img_iconos\users-1.png" alt="Area de cliente" style="width:80px;height:80px;border:0;">

                <h3>Soy cliente</h3>
                <p>Acceso al area de cliente</p>


            </div>
          </div>
        </div>



  </template>

  <script>
    /**
     * `pagina-inicio`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PaginaInicio extends Polymer.Element {
      static get is() { return 'pagina-inicio'; }
      static get properties() {
        return {

        };
      }

      pinusuario()
      {

        this.dispatchEvent(new CustomEvent("peticionpin",{"detail":{"idUsuario": 1}}))
      }

      altacliente()
      {
        console.log("voy a entrar en alta de usuario" )
        debugger
        this.dispatchEvent(new CustomEvent("peticionalta",{"detail":{"idUsuario": 1}}))
      }


    }

    window.customElements.define(PaginaInicio.is, PaginaInicio);
  </script>
</dom-module>
