<link rel="import" href="../../bower_components/polymer/polymer-element.html">



<dom-module id="pagina-inicio">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>



    <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <h2>PietroBank</h2>
          <p>Tu nuevo banco de confianza</p>
          <ul class="actions">
            <li><a on-click="pinusuario" href="#content" class="button big special">login</a></li>
            <li><a on-click="altacliente" href="#elements" class="button big alt">No soy cliente</a></li>
          </ul>
        </div>
      </section>


    <!-- Footer -->
      <footer id="footer">
        <div class="container">
          <div class="row double">

            <div class="6u">
              <h2>PietroBank</h2>
              <p>PietroBank se trata de un producto ficticio. Puedes intentar seguirnos en redes sociales, pero no creo que tengas suerte. Por si acaso prueba en los iconos de abajo</p>
              <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
              </ul>
            </div>
          </div>
          <ul class="copyright">
            <li>&copy; Untitled. All rights reserved.</li>
          </ul>
        </div>
      </footer>


  </template>

  <script>
    /**
     * `pagina-inicio`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PaginaInicio extends Polymer.Element {
      static get is() { return 'pagina-inicio'; }
      static get properties() {
        return {
          ocultamapa:{
            type:Boolean,
            value:true
          }
        };
      }

    
      pinusuario()
      {

        this.dispatchEvent(new CustomEvent("peticionpin",{"detail":{"idUsuario": 1}}))
      }

      altacliente()
      {
        console.log("voy a entrar en alta de usuario" )
        this.dispatchEvent(new CustomEvent("peticionalta",{"detail":{"idUsuario": 1}}))
      }


    }

    window.customElements.define(PaginaInicio.is, PaginaInicio);
  </script>
</dom-module>
