<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="manejador-app">
  <template>
    <style>
      [hidden]
      {
        display: none !important;
      }
      :host {
        display: block;
      }
    </style>
    <!-- Header -->

    <header id="header" class="skel-layers-fixed">
      <h1>PietroBank</h1>
      <nav id="nav">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#" on-click="mostrarmapa" class="button special">Buscar Oficina</a></li>
        </ul>
      </nav>
      <mapa-local hidden$={{ocultamapa}} id="mapaid" on-salir="ocultarmapa"></mapa-local>
    </header>


    <alta-cliente hidden$={{ocultaltacli}} id="altacliid" on-dadodealta="volverainicio" on-salir="volverainicio"></alta-cliente>
    <visor-cuentas hidden$={{ocultarvisorcuenta}} id="visorCuentasid" on-salir="volverainicio"></visor-cuentas>
    <login-usuario hidden$={{ocultarlogin}} id="loginid" on-logininsertado="procesarLogin" on-salir="volverainicio"></login-usuario>
    <pagina-inicio hidden$={{ocultarinicio}} id="inicioid" on-peticionpin="peticionPin" on-peticionalta="altaCliente"></pagina-inicio>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ManejadorApp extends Polymer.Element {
      static get is() { return 'manejador-app'; }
      static get properties() {
        return {
          ocultarinicio:{
              type:Boolean,
              value:false
            },
            ocultarlogin:{
              type:Boolean,
              value:true
            },
            ocultarvisorcuenta:{
              type:Boolean,
              value:true
            },
            ocultaltacli:{
              type:Boolean,
              value:true
            }

        };
      }
      mostrarmapa()
      {
        this.ocultamapa = false
        this.$.mapaid.mostrarmapa()
      }
      ocultarmapa(){
        this.ocultamapa = true
      }

      peticionPin(e){
      console.log("voy a pedir el pin" );

      this.ocultarlogin= false
      this.ocultarinicio=true
      this.ocultarvisorcuenta=true
      this.ocultaltacli=true
      this.$.loginid.mostrarformulario()
      console.log("he dejado de ocultar el login")
      console.log(e)


    }

    altaCliente(e)
    {
      console.log("voy a pedir el alta de cliente nuevo" )

      this.ocultarlogin= true
      this.ocultarinicio=true
      this.ocultarvisorcuenta=true
      this.ocultaltacli=false
      this.$.altacliid.mostrarformulario()
      console.log("he dejado de ocultar el alta")
      console.log(e)


    }


    procesarLogin(e){
      console.log("He procesado el login" );
      console.log(e)

      this.ocultarlogin= true
      this.ocultarinicio=true
      this.ocultarvisorcuenta=false
      this.ocultaltacli=true

      this.$.visorCuentasid.obtenerCuentasUsuario(e.detail.idUsuario,e.detail.email)

    }
    volverainicio()
    {
      this.ocultarlogin= true
      this.ocultarinicio=false
      this.ocultarvisorcuenta=true
      this.ocultaltacli=true
    }

    }

    window.customElements.define(ManejadorApp.is, ManejadorApp);
  </script>
</dom-module>
