<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="nuevofront-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!-- Header -->
  			<header id="header" class="skel-layers-fixed">

  				<nav id="nav">
  					<ul>
  						<li><a href="index.html">Home</a></li>
  						<li><a href="#" class="button special">Sign Up</a></li>
  					</ul>
  				</nav>
  			</header>

  		<!-- Banner -->
  			<section id="banner">
  				<div class="inner">
  					<h2>PietroBank</h2>
  					<p>Tu nuevo banco de confianza</p>
  					<ul class="actions">
  						<li><a href="#content" class="button big special">login</a></li>
  						<li><a href="#elements" class="button big alt">No soy cliente</a></li>
  					</ul>
  				</div>
  			</section>


  		<!-- Footer -->
  			<footer id="footer">
  				<div class="container">
  					<div class="row double">
  						<div class="6u">
  							<div class="row collapse-at-2">
  								<div class="6u">

  								</div>
  								<div class="6u">

  								</div>
  							</div>
  						</div>
  						<div class="6u">
  							<h2>PietroBank</h2>
  							<p>PietroBank se trata de un producto ficticio. Puedes intentar seguirnos en redes sociales, pero no creo que tengas suerte. Por si acaso prueba en lls iconos de abajo</p>
  							<ul class="icons">
  								<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
  								<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
  								<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
  								<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
  								<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
  							</ul>
  						</div>
  					</div>
  					<ul class="copyright">
  						<li>&copy; Untitled. All rights reserved.</li>
  					</ul>
  				</div>
  			</footer>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NuevofrontApp extends Polymer.Element {
      static get is() { return 'nuevofront-app'; }
      static get properties() {
        return {
        };
      }
    }

    window.customElements.define(NuevofrontApp.is, NuevofrontApp);
  </script>
</dom-module>
