<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="hacerLogin"
               url=url="https://apitechu-apitechupfm.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/login"
               method="POST"
               handle-as="json"
               on-response="mostrarResultadoLogin"
               on-error="mostrarError">
    </iron-ajax>

    <paper-dialog id="popuperrorintentalo" modal>
      <h2>Mensaje</h2>
      <p>Revisa tus datos, no te encontramos</p>
          <div class="buttons">
            <paper-button dialog-confirm autofocus on-click="cerrarpopuerror">Volver</paper-button>
          </div>
    </paper-dialog>


    <paper-dialog id="formulario" modal
    width="600"
    height="450">


      <iron-form  id="form1">
        <h1>Introduce tus datos</h1>
        <form action="/foo" method="get">
          <paper-input type="email" name="Email" required label="Email" value={{email::input}} error-message="necesitamos tu email"></paper-input>
          <paper-input type="password" name="Password" required label="Password" value={{password::input}} error-message="necesitamos tu password"></paper-input>
          <br><br>
          <paper-button raised on-click="logar" class="button special">Logar</paper-button>
          <paper-button raised on-click="salir" class="button alt">Salir</paper-button>
        </form>

        <br>
        <div class="output"></div>
      </iron-form>

 </paper-dialog>

  </template>

  <script>
    /**
     * `login-usuario`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {

          email:{
            type: String
          },
          password:{
            type: String
          },
          logado:{
            type:Boolean,
            value:false
          }
        };
      }

      salir()
      {
        this.email=""
        this.password=""
        this.logado=false
        this.$.formulario.close()
        this.dispatchEvent(new CustomEvent("salir",{"detail":{"idUsuario": 0 }}))
      }
      logar()
      {
        this.logado=false
        console.log("1. El usuario ha pulsado el boton");
        this.$.hacerLogin.headers.email= '"' + this.email + '"'
        this.$.hacerLogin.headers.password= '"' + this.password + '"'
        console.log("2. Enviar petición");
        this.$.hacerLogin.generateRequest()
        console.log("3. Enviada petición ");

      }

      mostrarResultadoLogin(resultado)
      {
        console.log("4. llegaron los resultados");
        console.log(resultado)
        console.log("5. proceso los resultados");
        this.logado=true
        console.log("voy a mostrar resultado");
        console.log(resultado.detail.response.id);
        console.log("Mostrado resultado");
        var emailtosend = this.email
        this.email=""
        this.password=""
        this.$.formulario.close()
        this.dispatchEvent(new CustomEvent("logininsertado",{"detail":{"idUsuario": resultado.detail.response.id, "email":emailtosend }}))

        /* ---> lanzar evento al manejador*/
      }

      mostrarformulario()
      {
        this.$.formulario.open()
      }

      mostrarError(error)
      {
        console.log("4. mostrar error");
        console.log(error)
        this.$.popuperrorintentalo.open()
      }
      cerrarpopuerror(e)
      {
        this.$.popuperrorintentalo.close()
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
