<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mapa-local">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
   <paper-dialog id="animated" modal>
     <paper-dialog-scrollable>
        <iframe
          width="600"
          height="450"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCHHlo8QE5ZVmTR1hdCczH-38trvQkE9Xc&q=calle alemania,malaga">
        </iframe>

        <div class="buttons">
          <paper-button dialog-confirm autofocus on-click="salir" class="button alt">Salir</paper-button>  
        </div>
      </paper-dialog-scrollable>

    </paper-dialog>


  </template>

  <script>
    /**
     * `mapa-local`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MapaLocal extends Polymer.Element {
      static get is() { return 'mapa-local'; }
      static get properties() {
        return {

        };
      }
      mostrarmapa()
      {
        this.$.animated.open()
      }
      salir()
      {
        this.$.animated.close()
        this.dispatchEvent(new CustomEvent("salir",{"detail":{"idUsuario":0 }}))
      }
    }

    window.customElements.define(MapaLocal.is, MapaLocal);
  </script>
</dom-module>
