<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<script src="../../js/base64.js"></script>
<script src="https://apis.google.com/js/api.js"></script>

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
      .fondotransparente
       {
          opacity: 0.5;
      }
      h1 {
          font-family: Arial, Helvetica, Sans-serif;
          font-size: 25px;
          color: black;
          background-color: : black;
          opacity: 1;
          font-weight: bold;
        }
        .tablaprincial
        {
            font-family: Arial, Helvetica, Sans-serif;
            color: white;
            background-color: : black;
            opacity: 1;
            font-weight: bold;
            align:center;
          }
          .cabecera
          {
              font-family: Arial, Helvetica, Sans-serif;
              font-size: 20px;
              color: white;
              background: : black;
              opacity: 1;
              font-weight: bold;
            }
        .imagenback {
          background-image: url("../../images/banner.jpg");
          background-color: transparent;
        }
    </style>

    <iron-ajax
          id="obtenerCuentas"
          url="https://apitechu-apitechupfm.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/cuentasdeCliente"
          handle-as="json"
          method=POST
          on-response="mostrarCuentas"
          on-error="mostrarErrorCuentas">
    </iron-ajax>

    <iron-ajax
          id="obtenerMovimientos"
          url="https://apitechu-apitechupfm.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/movimientosCuenta"
          handle-as="json"
          method=POST
          on-response="movimientosObtenidos"
          on-error="mostrarErrorMovimientos">
    </iron-ajax>
    <iron-ajax
          id="altaMovimiento"
          url="https://apitechu-apitechupfm.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/altaMovimiento"
          handle-as="json"
          method=POST
          on-response="movimientoAñadido"
          on-error="mostrarErrormovimientoAñadido">
    </iron-ajax>
    <iron-ajax
          id="mandarcorreo"
          url="https://apitechu-apitechupfm.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/mandacorreo"
          handle-as="json"
          method=GET
          on-response="correoenviado"
          on-error="mostrarErrorEnvioCorreo">
    </iron-ajax>
    <iron-ajax
          id="logout"
          url="https://apitechu-apitechupfm.7e14.starter-us-west-2.openshiftapps.com/apitechu/v3/usuarios/logout"
          handle-as="json"
          method=POST>
    </iron-ajax>
    <iron-ajax id="obtenerCuenta"
               url="https://apitechu-apitechupfm.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/dameUnaCuentaDisponible"
               method="GET"
               handle-as="json"
               on-response="cuentaObtenida"
               on-error="mostrarErrorObtenerCuenta">
    </iron-ajax>
    <iron-ajax id="altaCuenta"
               url="https://apitechu-apitechupfm.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/altaCuenta"
               method="POST"
               handle-as="json"
               on-response="cuentaDadaDeAlta"
               on-error="mostrarErrorOAltaCuenta">
    </iron-ajax>


      <section>
        <div class="inner">
          <br>
          <br>
          <br>
          <h1 align="center">Sus cuentas</h1>
          <ul class="actions">
              <table align="left" style="background: url(../../frontproyecto/images/banner.jpg) no-repeat">
                <thead align="left">
                  <th class="cabecera">INDICE</th>
                  <th class="cabecera">IBAN</th>
                  <th class="cabecera">SALDO</th>
                  <th class="cabecera">OPERACIONES</th>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="{{cuentas}}">
                      <tr align="left">
                        <td class="tablaprincial">{{index}}</td>
                        <td class="tablaprincial">{{item.IBAN}}</td>
                        <td class="tablaprincial">{{item.saldo}}</td>
                        <td class="tablaprincial">
                            <paper-menu-button>
                              <paper-icon-button icon="menu" slot="dropdown-trigger" alt="menu"></paper-icon-button>
                              <paper-listbox slot="dropdown-content">
                                <paper-item on-click="vermovimientos">Ver movimientos</paper-item>
                                <paper-item on-click="pagorecibos">Pago de recibos</paper-item>
                                <paper-item on-click="ingresocuenta">Ingresos en cuenta</paper-item>
                                <paper-item on-click="nuevacuenta">Nueva cuenta</paper-item>
                              </paper-listbox>
                            </paper-menu-button>
                        </td>
                      </tr>
                    </template>
                </tbody>
              </table>
          </ul>
        </div>
      </section>

        <paper-dialog id="popupinfo" modal>
          <h2>Mensaje</h2>
          <p>{{textodialog}}</p>
              <div class="buttons">
                <paper-button dialog-confirm autofocus on-click="cerrarpopup" class="button alt">Volver</paper-button>
              </div>
        </paper-dialog>

        <paper-dialog id="popupespera" modal>
          <h2>Mensaje</h2>
          <p>{{textodialog}}</p>
          <!-- <paper-progress indeterminate class="slow"></paper-progress> -->
          <paper-spinner active></paper-spinner>
        </paper-dialog>


        <paper-dialog id="ingresocuenta" modal>

          <iron-form id="form1">

            <form action="/foo" method="get">

                <h2>Ingresa dinero en tu cuenta</h2>
                <br></br>

                <label for="importe">Introduce el importe:</label>
                <input type="number" value={{importe::input}}></code>

                <label for="concepto">Concepto:</label>
                <input value={{concepto::input}} type="text" name="concepto" id="concepto" placeholder="Concepto" size="30" maxlength="30" />

          </form>
              <div class="buttons">
                <paper-button dialog-confirm autofocus on-click="ingresarencuenta" class="button special">Ingreso</paper-button>
                <paper-button dialog-confirm autofocus on-click="cerraraingresarencuenta" class="button alt">Volver</paper-button>
              </div>
            </iron-form>
        </paper-dialog>




      <paper-dialog id="nuevacuenta" modal>

        <iron-form id="form1">

          <form action="/foo" method="get">

              <h2>Da de alta una cuenta nueva</h2>
              <br></br>

              <label id="label1">Primera aportación:</label>
              <paper-radio-group  selected={{imposicion}}>
                <paper-radio-button name="100" >100 €</paper-radio-button>
                <paper-radio-button name="200" >200 €</paper-radio-button>
                <paper-radio-button name="500" >500 €</paper-radio-button>
              </paper-radio-group>

        </form>
            <div class="buttons">
              <paper-button dialog-confirm autofocus on-click="crearcuenta" class="button special">Dar de alta</paper-button>
              <paper-button dialog-confirm autofocus on-click="cerraranuevacuenta" class="button alt">Volver</paper-button>
            </div>
          </iron-form>
      </paper-dialog>




        <paper-dialog id="pagoderecibos" modal>

          <iron-form id="form1">
            <form action="/foo" method="get">
                <h2>Paga tus recibos de forma comoda</h2>
                <br></br>
                <p>
                <label for="recibo">Elige el recibo a pagar</label><br />
                <select name="recibo" id="recibo" value={{concepto::input}}>
                    <option value="Luz">Luz</option>
                    <option value="Gas">Gas</option>
                    <option value="Teléfono">Teléfono</option>
                    <option value="Agua">Agua</option>
                </select>
            </p>
            <label for="importe" >Introduce el importe:</label>
            <input type="number" value={{importe::input}}></code>

          </form>
              <div class="buttons">
                <paper-button dialog-confirm autofocus on-click="pagarrecibo" class="button special">Pagar</paper-button>
                <paper-button dialog-confirm autofocus on-click="cerrarapagoderecibos" class="button alt">Volver</paper-button>
              </div>
            </iron-form>
        </paper-dialog>

        <paper-dialog id="popumovimientos" modal>
            <paper-dialog-scrollable>
              <h2>Tus ultimos movimientos</h2>
              <br></br>
              <table>
                <thead>
                  <th>Indice</th>
                  <th>Fecha</th>
                  <th>Importe</th>
                  <th>Moneda</th>
                  <th>Concepto</th>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="{{movimientos}}">
                      <tr>
                        <td>{{index}}</td>
                        <td>{{item.fecha}}</td>
                        <td>{{item.importe}}</td>
                        <td>{{item.moneda}}</td>
                        <td>{{item.concepto}}</td>
                      </tr>
                    </template>
                </tbody>
              </table>
            </paper-dialog-scrollable>
              <div class="buttons">
                <paper-button dialog-confirm autofocus on-click="cerrarpopup" class="button alt">Volver</paper-button>
                <paper-button on-click="mandarinfo" class="button special">Mandar información</paper-button>
              </div>
        </paper-dialog>

        <paper-dialog id="popuperror" modal>
          <h2>Mensaje</h2>
          <p>{{textodialog}}</p>
              <div class="buttons">
                <paper-button dialog-confirm autofocus on-click="cerrarpopuperror">Volver</paper-button>
              </div>
        </paper-dialog>

        <paper-dialog id="popuperrorfin" modal>
          <h2>Mensaje</h2>
          <p>Se ha producido un error al crear una cuenta para ti, como eres ya cliente pasa por tu oficina y ellos podrán finalizar tu alta, o bien llama 66666666</p>
              <div class="buttons">
                <paper-button dialog-confirm autofocus on-click="cerrarfin">Volver</paper-button>
              </div>
        </paper-dialog>


        <paper-button raised on-click="salir" class="button alt">Salir</paper-button>


  </template>

  <script>
    /**
     * `visor-cuentas`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
           id:{
             type:Number,
             value:11
            },
            cuentas:{
              type:Array
            },
            movimientos:{
              type:Array
            },
            idusuarioLogado:{
              type: String,
            },
            importe:{
              type:Number,
            },
            concepto:{
              type: String,
            },
            iban:{
              type: String,
            },
            textodialog:{
              type: String,
            },
            imposicion:{
              type: String,
              value:100
            },
            cuenta:{
              type: String
            },
            email:{
              type: String,
            }


        };
      }

      crearcuenta()
      {
        this.textodialog = "Estamos dando de alta tu nueva cuenta"
        this.$.popupespera.open()
        this.$.obtenerCuenta.generateRequest()
      }
      cuentaDadaDeAlta()
      {
        this.obtenerCuentasUsuario(this.idusuarioLogado,this.email)
        this.$.popupespera.close()
        this.textodialog = "Su operación se ha realizado con exito"
        this.$.popupinfo.open()
      }
      cuentaObtenida(resultado)
      {
          this.cuenta = resultado.detail.response.nuevaCuenta
          //Con la cuenta ya puedo dar de alta la cuenta

          var f = new Date()
          var fecha = f.getFullYear() + "/" + (f.getMonth() +1) + "/" + f.getDate()

          this.$.altaCuenta.headers.iban = this.cuenta
          this.$.altaCuenta.headers.idcliente = this.idusuarioLogado
          this.$.altaCuenta.headers.importe = this.imposicion
          this.$.altaCuenta.headers.moneda = "EUR"
          this.$.altaCuenta.headers.fecha = fecha
          this.$.altaCuenta.headers.concepto = "Alta cuenta"

          this.$.altaCuenta.generateRequest()

      }
      mostrarErrorObtenerCuenta(e)
      {
        this.$.popupespera.close()
        this.$.popuperrorfin.open()
      }
      mostrarErrorOAltaCuenta(e)
      {
        this.$.popupespera.close()
        this.$.popuperrorfin.open()
      }
      obtenerCuentasUsuario(idusuario,email)
      {
        console.log("Estoy en obtener cuentas");
        console.log(idusuario);
        /* Sera enlazado desde login, recibira el dato y llamara al iron-ajax $obtenerCuenta */
        this.email = email

        this.idusuarioLogado = idusuario

        this.$.obtenerCuentas.headers.id = idusuario

        this.$.obtenerCuentas.generateRequest()

      }

      cerrarpopup(e)
      {
        this.$.popumovimientos.close()
      }

      cerrarpopuperror(e)
      {
        this.$.popuperror.close()
      }


      movimientosObtenidos(resultado)
      {
          this.movimientos = resultado.detail.response
          console.log("Se pasan los movimientos");
          console.log(this.movimientos)

          this.$.popumovimientos.open()
      }

      mostrarCuentas(resultado)
      {
        console.log(resultado.detail.response);
        console.log("Han llegado las cuentas alimento la variable");
        this.cuentas = resultado.detail.response
        console.log(this.cuentas);
      }
      mostrarErrorCuentas(error)
      {
        console.log(error.detail.response);
      }
      mostrarErrorMovimientos()
      {
        this.textodialog = "No hay movimientos que mostrar"

        this.$.popuperror.open()
      }
      vermovimientos(e)
      {

        var iban = e.model.item.IBAN

        this.$.obtenerMovimientos.headers.iban = '"' + iban + '"'

        this.$.obtenerMovimientos.generateRequest()

      }
      //Se pide formulario para hacer el pago
      pagorecibos(e)
      {

          this.iban = e.model.item.IBAN
          console.log("El iban 1 " + this.iban);
          this.$.pagoderecibos.open()
      }
      //Se hace efectivo el pago de recibo
      pagarrecibo(e)
      {

        var f = new Date()
        var fechaCal = f.getFullYear() + "/" + (f.getMonth() +1) + "/" + f.getDate()
        console.log("la fecha cal " + fechaCal);
        console.log("El importe " + this.importe);
        console.log("El concepto " + this.concepto);
        console.log("El iban  " + this.iban);
        console.log("El id  " + this.idusuarioLogado);


        this.$.altaMovimiento.headers.fecha = fechaCal
        this.$.altaMovimiento.headers.importe =  -1 * this.importe
        this.$.altaMovimiento.headers.moneda = "EUR"
        this.$.altaMovimiento.headers.concepto = "Pago recibo de " + this.concepto
        this.$.altaMovimiento.headers.iban = '"' + this.iban + '"'
        this.$.altaMovimiento.headers.id = this.idusuarioLogado

        this.textodialog = "Estamos realizado el pago del recibo"
        this.$.popupespera.open()

        this.$.altaMovimiento.generateRequest()

      }
      cerrarapagoderecibos(e)
      {
        this.importe = undefined
        this.concepto = undefined
        this.$.pagoderecibos.close()
      }
      //Se pide formulario para hacer el ingreso
      ingresocuenta(e)
      {
        this.iban = e.model.item.IBAN
        console.log("El iban 1 " + this.iban);
        this.$.ingresocuenta.open()
      }
      cerraraingresarencuenta()
      {
        this.importe = undefined
        this.concepto = undefined
        this.$.ingresocuenta.close()
      }

      nuevacuenta(e)
      {
        this.$.nuevacuenta.open()
      }
      cerraranuevacuenta()
      {
        this.$.nuevacuenta.close()
      }

      //Cuando se pulsa boton para hacer ya el ingreso con los datos
      ingresarencuenta()
      {
        var f = new Date()
        var fechaCal = f.getYear() + "/" + (f.getMonth() +1) + "/" + f.getDate()
        console.log("la fecha cal " + fechaCal);
        console.log("El importe " + this.importe);
        console.log("El concepto " + this.concepto);
        console.log("El iban  " + this.iban);
        console.log("El id  " + this.idusuarioLogado);

        this.$.altaMovimiento.headers.fecha = fechaCal
        this.$.altaMovimiento.headers.importe = this.importe
        this.$.altaMovimiento.headers.moneda = "EUR"
        this.$.altaMovimiento.headers.concepto = this.concepto
        this.$.altaMovimiento.headers.iban = '"' + this.iban + '"'
        this.$.altaMovimiento.headers.id = this.idusuarioLogado

        this.textodialog = "Estamos realizando el ingreso en tu cuenta"
        this.$.popupespera.open()

        this.$.altaMovimiento.generateRequest()

      }

      movimientoAñadido()
      {
          this.obtenerCuentasUsuario(this.idusuarioLogado,this.email)

          this.importe = 0
          this.concepto = ""
          this.textodialog = "Su operación se ha realizado con exito"

          this.$.popupespera.close()

          this.$.popupinfo.open()

      }
      mostrarErrormovimientoAñadido()
      {
        this.importe = 0
        this.concepto = ""

        this.textodialog = "Se ha producido un error al realizar la operación, por favor consulte sus movimientos y pongase en contacto con su oficina"

        this.$.popupespera.close()

        this.$.popupinfo.open()

      }


      mandarinfo()
      {
        this.$.mandarcorreo.headers.to = this.email
        this.$.mandarcorreo.headers.subject = "Consulta de movimientos"

        var mensaje = "<h2>Sus movimientos</h2><table><thead><th>Indice</th><th>Fecha</th><th>Importe</th><th>Moneda</th><th>Concepto</th></thead><tbody>"


        for (var i = 0; i < this.movimientos.length; i++) {
            mensaje = mensaje + "<tr>"
            mensaje = mensaje + "<td>" + i + "</td>"
            mensaje = mensaje + "<td>" + this.movimientos[i].fecha  + "</td>"
            mensaje = mensaje + "<td>" + this.movimientos[i].importe  + "</td>"
            mensaje = mensaje + "<td>" + this.movimientos[i].moneda  + "</td>"
            mensaje = mensaje + "<td>" + this.movimientos[i].concepto  + "</td>"
            mensaje = mensaje + "</tr>"
        }

       mensaje = mensaje + "</tbody></table>"

        this.$.mandarcorreo.headers.html = mensaje

        console.log(mensaje);

        this.$.mandarcorreo.generateRequest()
      }

      correoenviado()
      {
        this.textodialog = "Hemos enviado con exito un correo a tu cuenta, en breve te llegará"
        this.$.popupinfo.open()
      }

      mostrarErrorEnvioCorreo()
      {
        this.textodialog = "Se ha producido un error al mandar el correo a tu cuenta dada, porfavor repasa tus datos"
        this.$.popupinfo.open()
      }


      salir(e)
      {

        this.cuentas = undefined

        this.$.logout.headers.id = this.idusuarioLogado

        this.$.logout.generateRequest()

        this.dispatchEvent(new CustomEvent("salir",{"detail":{"idUsuario":0 }}))
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
